.billing__container {
  padding: 25px;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  min-height: 580px;
}

.shipping_box {
  background-color: var(--navbarColor);
  border-radius: 8px;
}

.delivery_type_container {
  border-bottom: 1px solid #dac6df;
}

.delivery_type_container:last-child {
  border-bottom: none;
}

/* .shipping__container {
}
 */
