.usercards__container {
  padding: 25px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-height: 580px;
}
.usercards__body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.credit-card__body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.usercards__card__body {
  position: relative;
}
.credit-card-container {
  border-radius: 50%;
  border: 1px solid #b6b6b6;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.credit-card__img {
  padding: 8px;
  object-fit: cover;
}
.credit-card-btn_2 {
  margin-top: 20px;
  align-self: end;
}
.confirm__delete__modal__card {
  z-index: 50;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 325px;
}

@media (min-width: 576px) {
  .credit-card-container {
    width: 80px;
    height: 80px;
  }
  .credit-card__img {
    padding: 15px;
  }
}
