.edituserdata__container {
  padding: 25px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
.edituserdata__body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.data__input {
  background-color: transparent;
  display: flex;
  margin: 0 auto;
  padding: 0 13px;
  width: 90%;
  border: 1px solid var(--navOpacity);
  border-radius: 5px;
  height: 50px;
}

.edituserdata__form {
  width: 300px;
}
.user__input__container {
  position: relative;
  width: 100%;
}

.input__eye__icon__user {
  position: absolute;
  top: 35px;
  right: 8%;
  font-size: 1.7rem;
  color: var(--dark_2);
}
@media (min-width: 576px) {
  .edituserdata__form {
    width: 450px;
  }
}
