.shipping_container {
  padding: 25px;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  min-height: 580px;
}

.shipping_box,
.billing_box {
  background-color: var(--navbarColor);
  border-radius: 8px;
}

.delivery_type_container {
  border-bottom: 1px solid #dac6df;
  padding-bottom: 20px;
  padding-top: 20px;
}

.delivery_type_container_pickup {
  padding-bottom: 20px;
  padding-top: 20px;
}

.delivery_type_container:last-child {
  border-bottom: none;
}

.delivery_type_container:first-child {
  padding-top: 0;
}

.shipping__container {
  grid-area: none;
}
