.myposts__container {
  grid-area: header;
  padding: 25px;
  margin: 60px auto;
  width: 100%;
  max-width: 1000px;
}
.myposts__card__body {
  cursor: pointer;
}
.myposts__card__img {
  width: 100%;
  max-width: 120px;
  height: 120px;
  object-fit: cover;
}
.myposts__card__paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.myposts__card__info {
  width: 100%;
}
.myposts__btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.myposts__btn {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.btn__edit {
  transform: scale(2.2);
}
.btn__trash {
  transform: scale(1.6);
}
.post__img {
  width: 100%;
  max-width: 200px;
}
.confirm__delete__modal {
  z-index: 50;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 325px;
}
.close__icon {
  position: absolute;
  top: 13px;
  right: 13px;
  transform: scale(2.5);
}
.close__icon:hover {
  cursor: pointer;
  background: #7a797963;
  border-radius: 50%;
}
.confirm__delete__btn {
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .myposts__card__paragraph {
    max-width: 100%;
  }
  .myposts__card__paragraph {
    white-space: wrap;
    overflow: hidden;
    text-overflow: none;
  }
  .myposts__btn__container {
    justify-content: flex-start;
  }
  .confirm__delete__modal {
    width: 380px;
  }
}
