.products__container {
  grid-area: home;
  padding: 0 25px;
  margin: 60px auto;
  max-width: 1400px;
  width: 100%;
}
.products__card__img {
  width: 100%;
  height: 214px;
  object-fit: contain;
  margin-top: 15px;
}
.products__card__desc__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  gap: 20px;
}
.products__cards__container {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.products__card__img__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  flex-grow: 1;
}
.products__card {
  position: relative;
  transition: 0.2s ease-out;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 416px;
  width: 100%;
  max-width: 300px;
}
.products__card:hover {
  filter: brightness(90%);
}
.product__star__container {
  padding: 7px;
  width: 100%;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.product__star__icon {
  width: 20px;
}
/*MODO DESKTOP*/

@media (min-width: 576px) {
  .products__cards__container {
    max-width: 1400px;
    flex-direction: row;
    justify-content: center;
  }
  .product__title__container {
    max-width: 1400px;
    margin: 0 auto;
  }
}
