.products__container {
  grid-area: home;
  padding: 25px;
  margin: 60px auto;
}
.products__card__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.products__card__desc__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  gap: 20px;
}
.products__cards__container {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.products__card__img__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.products__card {
  transition: 0.2s ease-out;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 100%;
  max-width: 300px;
}
.products__card:hover {
  filter: brightness(90%);
}

/*MODO DESKTOP*/

@media (min-width: 576px) {
  .products__cards__container {
    max-width: 1400px;
    flex-direction: row;
    justify-content: center;
  }
}
