.products__container {
  padding: 25px;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
.products__card__img {
  width: 100%;
  height: 189px;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 15px auto 0;
  max-width: 150px;
  aspect-ratio: 1/2;
}

.products__card__desc__container {
  text-align: center;
  height: 100%;
  gap: 20px;
  background-color: #e9e9e9a8;
  height: 180px;
  overflow: hidden;
}
.products__cards__container {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.products__card__img__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  flex-grow: 1;
}
.products__card {
  position: relative;
  transition: 0.2s ease-out;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 416px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}
.products__card__paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
  margin: 15px 0;
}
.products__card:hover {
  filter: brightness(90%);
}
.product__star__container {
  padding: 7px;
  width: 100%;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.product__star__icon {
  width: 20px;
}
.slick-slider {
  max-width: 1192px;
  margin: 0 auto;
}
.slick-list {
  height: 450px;
}

/*MODO DESKTOP*/

@media (min-width: 576px) {
  .products__cards__container {
    max-width: 1400px;
    flex-direction: row;
    justify-content: center;
  }
  .product__title__container {
    max-width: 1400px;
    margin: 0 auto;
  }
  .slick-list {
    height: 430px;
  }
}
