.product__list__container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.products__filter:hover {
  border: 1px solid var(--verdeAgua);
}
.products__filter {
  cursor: pointer;
}
.products__card__list {
  position: relative;
  transition: 0.2s ease-out;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 416px;
  width: 100%;
  max-width: 300px;
}
.product__list__filters {
  display: flex;
  flex-direction: column;
}
@media (min-width: 756px) {
  .product__list__filters {
    flex-direction: row;
  }
}
