.product__list__container {
  grid-area: home;
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.products__filter:hover {
  border: 1px solid var(--verdeAgua);
}
.products__filter {
  cursor: pointer;
}

.product__list__filters {
  display: flex;
  flex-direction: column;
}
@media (min-width: 756px) {
  .product__list__filters {
    flex-direction: row;
  }
}
