.favorites__container {
  grid-area: header;
  padding: 25px;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.favorites__cards__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.favorites__card__img {
  width: 100%;
  max-width: 120px;
  object-fit: cover;
}
.favorites__card__body {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid var(--dark_2);
  padding: 6px 0;
}
.favorites__card__paragraph {
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.favorites__card__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  width: 300px;
}
.favorites__card__info__btn {
  align-self: flex-end;
  cursor: pointer;
}

.nofavorites__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.nofavorites__icon {
  align-content: center;
  width: 100%;
  max-width: 100px;
}

@media (min-width: 576px) {
  .favorites__card__info {
    width: 100%;
  }
  .favorites__card__img {
    max-width: 180px;
  }

  .favorites__cards__container {
    margin-top: 20px;
  }
  .favorites__card__paragraph {
    text-wrap: wrap;
  }
}
