.navbar__container {
  grid-area: navbar;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--backgroundHomeColor);
}
.navbar__logo__container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.navbar__logo__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo__img {
  cursor: pointer;
  width: 145px;
}
.navbar__search__container {
  display: flex;
  align-items: center;
}
.navbar__search__icon {
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--dark_1);
}
.navbar__search__input__container {
  position: absolute;
  top: 180%;
  left: 0;
  width: 100%;
  background: var(--navbarColor);
  outline: 20px solid var(--navbarColor);
}
.navbar__search__input {
  position: relative;
  color: black;
  width: 100%;
  padding: 0 15px;
  height: 40px;
  border-radius: 25px;
  background: transparent;
  border: 1px solid var(--dark_2);
  font-weight: 500;
}
.navbar__search__icon__insideinput {
  right: 12px;
  top: 7px;
  position: absolute;
  color: #000000b2;
  cursor: pointer;
  font-size: 1.5rem;
}
.navbar__search__input::placeholder {
  color: #0000009a;
  font-weight: 700;
  font-size: 0.95rem;
}
.searchInputActive {
  display: none;
}

.navbar__user__icons__container {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar__icons__menu__container {
  display: grid;
  align-items: center;
  grid-template-areas:
    "a"
    "a ";
}
.navbar__user__icon {
  color: var(--dark_1);
  font-size: 1.8rem;
  cursor: pointer;
}
.navbar__user__icon__open {
  cursor: pointer;
  font-size: 2.2rem;
  grid-area: a;
}
.navbar__user__icon__close {
  cursor: pointer;
  font-size: 2.2rem;
  grid-area: a;
}
.navbar__user__menu__container {
  width: 100%;
  position: relative;
}
.navUserActiveMenu {
  transform: scale(0);
}
.navbar__user__menu {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 80px;
  padding: 8px;
  min-height: 150px;
  transform: scale(100%);
}
.navbar__menu__links {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 140%;
  right: -15px;
  height: 200px;
  width: 50%;
  transition: all 0.2s ease;
  transform: translateX(100%);
}
.navActiveMenu {
  transform: translateX(0);
}
.navbar__menu__link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar__user__menu__link {
  width: 100%;
  padding: 7px 25px;
  border-radius: 5px;
}
.navbar__user__menu__link:hover {
  background-color: var(--verdeAgua);
}
.navbar__menu__link__icon {
  font-size: 1.5rem;
  color: var(--dark_1);
}

/*DESKTOP MODE*/

@media (min-width: 576px) {
  .navbar__search__input__container {
    position: relative;
    background: none;
    outline: none;
  }
  .navbar__search__input {
    border: 1px solid var(--dark_2);
  }
  .navbar__search__input:focus {
    border: 1px solid var(--dark_2);
    outline: none;
  }
  .navbar__search__icon {
    display: none;
  }
  .navbar__logo__section {
    justify-content: flex-start;
    gap: 50px;
    flex-grow: 1;
  }
  .nav-icon3 {
    display: none;
  }
  .navbar__search__container {
    width: 100%;
    max-width: 300px;
  }
  .navbar__search__icon__insideinput {
    top: 8px;
    right: 7px;
  }
  .navbar__search__icon__insideinput:hover {
    background: var(--navOpacity);
    border-radius: 50%;
    padding: 2px 0;
    outline: 4px solid var(--navOpacity);
  }
  .navbar__logo__container {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
  }
  .navbar__menu__links {
    position: relative;
    flex-direction: row;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    height: 0;
    transition: none;
  }
  .navbar__menu__link:hover {
    background: var(--navOpacity);
    outline: 7px solid var(--navOpacity);
    border-radius: 5px;
  }
  .navbar__user__container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .navbar__user__icons__container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .navbar__user__menu {
    top: 40px;
  }
  .navbar__user__icon:hover {
    background: var(--navOpacity);
    outline: 10px solid var(--navOpacity);
    border-radius: 50%;
  }
}
