.productdetail__container {
  grid-area: home;
  padding: 20px;
}
.card__body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: white;
}
.card__info {
  padding: 15px;
}
.card__img {
  width: 100%;
}
.card__paragraph__name {
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.card__paragraph__price {
  font-size: 2rem;
  font-weight: 500;
}
.card__info__price__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__paragraph__stock {
  font-weight: 300;
  margin: 8px 0;
}

.card__info__btn__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card__info__btn {
  transition: 0.2s ease-out;
  width: 100%;
  border-radius: 30px;
  width: 100%;
}

.card__info__like__icon {
  cursor: pointer;
  font-size: 2rem;
}
.card__cart__alert {
  color: var(--navbarColor);
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  text-align: center;
  z-index: 120;
}

/*VERSION DESKTOP*/

@media (min-width: 576px) {
  .productdetail__container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
  }
  .card__body {
    display: grid;
    grid-template-areas:
      "imagen info"
      "desc info";
    grid-template-columns: 1fr 400px;
    place-items: center;
  }
  .card__info {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: info;
    height: 90%;
  }
  .card__info__desc__container {
    grid-area: desc;
  }
  .card__info__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card__paragraph__name {
    font-size: 1.8rem;
  }
  .card__img {
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    grid-area: imagen;
  }
}
