.personaldata__container {
  padding: 25px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-height: 580px;
}

.edit__btn {
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.2s ease-out;
}

.edit__btn:hover {
  background: #a7a5a534;
}
