.createpost__container {
  grid-area: home;
  padding: 25px;
  margin: 60px auto;
  width: 100%;
  max-width: 1400px;
}
.createpost__card__form {
  display: flex;
  flex-direction: column;
}
.createpost__card__data {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  height: 100%;
  justify-content: space-around;
}
.createpost__card__fileimg {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 13px;
  margin-top: 20px;
  width: 90%;
  border: 1px solid var(--navOpacity);
  border-radius: 5px;
  height: 100px;
}
.createpost__card__input {
  background-color: transparent;
  display: flex;
  margin: 0 auto;
  padding: 0 13px;
  width: 100%;
  border: 1px solid var(--navOpacity);
  border-radius: 5px;
  min-height: 50px;
  margin-top: 20px;
}
.createpost__form__btn {
  transition: 0.2s ease-out;
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
  font-weight: 500;
  margin: 20px auto;
}
.createpost__form__btn:hover {
  filter: brightness(80%);
}
.createpost__card__imgpreview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--navOpacity);
  border-radius: 5px;
  width: 90%;
  overflow: hidden;
  min-height: 80px;
  margin-top: 20px;
}
.createpost__card__imgpreview__img {
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}
.createpost__card__file__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.createpost__preview__desktop {
  display: none;
}

/*VERSION DESKTOP*/

@media (min-width: 576px) {
  .createpost__card__imgpreview {
    display: none;
  }
  .createpost__card__form {
    min-width: 300px;
  }
  .createpost__card__container {
    display: grid;
    grid-template-columns: 30% repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    justify-content: space-between;
    gap: 50px;
  }

  .preview__img__container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .createpost__preview__img {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 700px;
    object-fit: contain;
    z-index: 20;
  }
  .createpost__preview__img__2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    filter: blur(10px) brightness(70%);
  }
  .createpost__preview__desktop {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1.5fr 1fr;
  }
  .createpost__preview__body {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #cecece;
  }
  .createpost__preview__data {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
  .detail__paragraph {
    max-height: 200px;
    overflow-y: auto;
  }
}
