.products__card__allproducts {
  position: relative;
  transition: 0.2s ease-out;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 416px;
  width: 100%;
  max-width: 280px;
}
