.myOrders__container {
  padding: 25px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.order__container {
  justify-content: space-between;
  /*   border-top: 1px solid var(--purpleGray); */
  padding: 20px 10px;
}
