@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}

.app__container {
  display: grid;
  grid-template-areas:
    "header"
    "home"
    "footer";
  width: 100%;
    grid-template-rows: 10px 1fr;
  min-width: 375px;
  background-color: var(--backgroundHomeColor);
  /* font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; */
  min-height: 100vh;
}

/* BASIC STYLES */

h1 {
  font-size: 25px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 700px;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.btn {
  padding: 15px 35px;
  border-radius: 100px;
  font-weight: 500;
  color: #fff;
  transition: 0.2s;
}

.btn-primary {
  background-color: var(--fucsia);
}

.btn-primary:hover {
  background-color: var(--fucsiaDark);
}

.btn-secondary {
  background-color: var(--verdeAgua);
}

.btn-secondary:hover {
  background-color: var(--verdeAguaDark);
}

/* .btn-tertiary {
}

.btn-tertiary:hover {
} */
