@tailwind base;
@tailwind components;
@tailwind utilities;

/*EJEMPLO DE VARIBALES PARA DARKMODE Y LIGHTMODE*/

/* :root[app-theme="dark"] {
    --color_1: #0d0e20; 
  --color_2: #252859;
  --color_3: #141726;
  --color_4: #4bb2f2;
  --color_5: #c2e0f2;
  --color_6: #ffffffde;
  --color_7: #141726;
  --color_javascript: #f7df1d;
  --navColor: #303473;
  --titleColor1: #ffffffde;
  --titleColor2: #4bb2f2;
  --cardBackgroundDescColor: #000000;
  --tecnologiesDescColor: #ffffffde;
  --transparencyColor: #000000c7;
  --transparencyColor2: #ffffffde;
  --hoverColor: #ffffffde;
} */

:root[app-theme="light"] {
  --celeste: #61b0f5;
  --fucsia: #b905fa;
  --fucsiaDark: #8218a9;
  --rosado: #dba6ff;
  --navbarColor: #e6ecdc;
  --purpleGray: #DAC6DF;
  --purpleDarkGray: #a98ab1;
  --backgroundHomeColor: #f7f7f7;
  --verdeAgua: #42bea6;
  --verdeAguaDark: #2c7e6e;
  --dark_1: #2c2a2a;
  --dark_2: #8d8989;
  --navOpacity: #00000018;
}

* {
  margin: 0;
  box-sizing: border-box;
}
