.header__container {
  grid-area: header;
}
.slider__container .image-gallery-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}
.slider__container {
  border-radius: 5px;
  overflow: hidden;
}
