.pagination__container {
  margin-top: 20px;
  width: 100%;
}
.paginaction__arrow {
  padding: 10px;
  font-size: 2.7rem;
  cursor: pointer;
}

.paginaction__arrow:hover {
  background: #00000011;
  border-radius: 50%;
}

@media (min-width: 576px) {
  .pagination__container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 40px;
    width: max-content;
  }
}
