.adduseraddress__container {
  grid-area: header;
  padding: 25px;
  margin: 60px auto;
  width: 100%;
  max-width: 1400px;
}

.address__input {
  background-color: transparent;
  display: flex;
  margin: 0 auto;
  padding: 0 13px;
  width: 100%;
  border: 1px solid var(--navOpacity);
  border-radius: 5px;
  height: 50px;
}

.edituseraddress__form {
  display: grid;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  height: 500px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.adress__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 35px;
}
